.shopify_dialog {
  z-index: 999999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}
.shopify_dialog_content {
  width: 70vw;
  min-height: 400px;
  overflow-y: scroll;
  border-radius: 12px;
  background-color: #fff;
}

.shopify_dialoag_header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  color: #333;
  font-size: 24px;
  background-color: #eee;
}
.shopify_dialog_close {
  position: absolute;
  right: 10px;
  top: 50%;
  width: 25px;
  height: 25px;
  transform: translateY(-50%);
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAVxJREFUWEftlr8rRWEYxz93YTUw+ANYDQzKYmClKFlE7NxMMhCLDAo7IaWExYhYlMEfIEajURaD9NR3uF3ufd73lB7DOcvpPef9fr+fnvdnheCnEpxPCfCvKzBYMz/uCs4V16NZBTaAJQUfAjOZEAfAtDTmtfyb3huCE2BSwnVgNRFiDVhR36MakB9yD6AduAT6pZwD9h2IWWBPfW6AUeCjkcYDMF2vIDplMgxcNzAcAq7070nhz82AUwBMPw6cyegNGABe6oy7gHugA3hX+K03ZKkA5rMIbMnwURCfarcovE/tKeDYC7f/OQDWfweYl/GFKmPNc2BM323lbKaEFwFoBU6BEQVs613VexdYSA0vAmCabkH01AVZFSaAr78GMH9bCVaJNoU9KPw1J7xoBcIBQocgfBKGLsPQjSh0Kw49jMKP49ALSfiVzL1QJmy7rkfucZyQmdelBCgr8A3cJFghpFFTXAAAAABJRU5ErkJggg==)
    no-repeat center;
  background-size: cover;
  cursor: pointer;
}
.shopify_dialog_list_wrap {
  padding: 30px;
}
.shopify_attr_item {
  display: flex;
  align-items: center;
  min-height: 40px;
  border-bottom: 1px solid #eee;
}
.shopify_product_label {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 90px;
  font-size: 16px;
  color: #666;
}
.shopify_product_attr {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 5px 30px;
  color: #222;
  font-size: 16px;
}
.shopify_product_size_item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  padding: 5px;
  margin-right: 5px;
  border-radius: 3px;
  border: 1px solid #aaa;
  font-size: 14px;
}
.shopify_product_img,
.shopify_product_colors_item {
  position: relative;
  height: 70px;
  margin: 0 8px 8px 0;
  cursor: pointer;
}
.shopify_product_colors_inner {
  height: 100%;
}
.shopify_product_color_txt {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 3px 0;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 12px;
}
.shopify_dialog_bottom {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 50px;
  background-color: #eee;
}
.shopify_dialog_bottom_status_info {
  font-size: 12px;
  color: #333;
}
.shopify_dialog_bottom_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
  margin: 0 30px;
  border-radius: 30px;
  background: #c2fbd7;
  box-shadow: rgb(44 187 99 / 20%) 0 -25px 18px -14px inset,
    rgb(44 187 99 / 15%) 0 1px 2px, rgb(44 187 99 / 15%) 0 2px 4px,
    rgb(44 187 99 / 15%) 0 4px 8px, rgb(44 187 99 / 15%) 0 8px 16px,
    rgb(44 187 99 / 15%) 0 16px 32px;

  cursor: pointer;
  color: green;
  font-size: 18px;
}
.shopify_dialog_bottom_btn:active {
  transform: scale(0.95);
}
